<!DOCTYPE html>
<!--
    Henry Matsen
    Sec 3
    Mission 04
    Desc: A site about me. Includes a grade calculator that takes the percentage of each type of grade and calculates the final grade
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
    <!-- external stylesheet (so hero img goes all the way out to the border)-->
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css” integrity=“sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w = =” crossorigin=“anonymous” referrerpolicy=“no-referrer” />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!--Nav that is the same for every page
        uses asp actions to auto generate hrefs-->
    <nav>
        <ul class="main-menu">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Podcast">My Podcast</a></li>
            <li><a asp-controller="Home" asp-action="Movies">Movies</a></li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
