@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //changes title
    ViewData["Title"] = "Submitted";
}
<div class="podcast">
    <div style="text-align:center">
        <h2>Thank You!</h2>
        <p>Your movie has been submitted</p>
    </div>
</div>