@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //changes title
    ViewData["Title"] = "Movies";
}
<!--imports model-->
@model MoviesModel;
<!--Movie form-->
<section>
    <div>
        <h2 class="title">Movie Database</h2>
        <p class="title">Enter a movie to put it in the database</p>
        <form method="post">
            <input type="hidden" asp-for="ApplicationID"/>
            <label for="title">Title: </label>
            <input id="title" asp-for="title" />
            <label for="category">Category:</label>
            <select id="category" asp-for="categoryID">
                @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.categoryID">@c.categoryname</option>
            }
            </select>
            <label for="rating">Rating: </label>
            <select id="rating" asp-for="rating">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
            <label for="year">Year: </label>
            <input type="number" id="year" asp-for="year" />
            <label for="director">Director: </label>
            <input id="director" asp-for="director" />
            <label for="edit">Edited: </label>
            <input type="checkbox" id="edit" asp-for="edit" />
            <label for="lent">Lent To: </label>
            <input id="lent" asp-for="lent" />
            <label for="notes">Notes: </label>
            <textarea id="notes" asp-for="notes"></textarea>

            <button id="sendBtn" class="button" type="submit">Submit</button>
            <!--error messages-->
            <div id="error" asp-validation-summary="All"></div>
        </form>
    </div>
</section>