@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="podcast">
    <div style="text-align:center">
        <h2>Checkout My Podcast</h2>
        <a class="button" style="margin-top: 2rem;" target="_blank" href="https://baconsale.com/">Click Here!</a>
    </div>
</div>